<div id="<%= album.id %>" class="col-xs-6 col-lg-4">
  <p><%= album.title %></p>
  <p>
  <a href="<%= album_path(album) %>">
      <img src="<%= qiniu_img_url(album.cover, :cover) %>">
    </a>
  </p> 
  <span class="timestamp">
    <%= time_ago_in_words(album.created_at) %> 之前建立.
  </span>

</div>
