<% provide(:title, '相簿') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <% if !params[:uid] %>
      <section class="album_form">
        <%= render 'albums/form' %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <h3>所有相册</h3>
    <%= render @albums %>
    <%= will_paginate @albums %>
  </div>
</div>
