<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <div class="links clearfix">
      <% micropost.pictures.each do |picture| %>
        <a  class="col-xs-4 col-md-4"
            href="<%= qiniu_img_url(picture, :big) %>">
          <img src="<%= qiniu_img_url(picture, :thumb) %>" width="100px" height="100px">
        </a>
      <% end %>
    </div>
  </span>
  <span class="timestamp">
    <%= format_time(micropost.created_at) %> 
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
        data: { confirm: "确定要删除吗?" } %>
    <% end %>
  </span>
</li>

